{% extends 'base.html' %}

{% macro displayBlog(blogs) %}
<div class="blog-card">
    <h2>Dev Blog - Say Something.</h2>
    {% for blog in blogs %}
    <div class="card text-center">
        <img class="card-img-top" src="{{ url_for('static', filename ='photos/' + blog.user.image_file) }}"
            alt="No Image">
        <div class="card-body">
            <h5>{{ blog.title }}<br />
                <a href="{{ url_for('main.blog', blog_id = id) }}"><span>{{ blog.author.username }} </span></a>
            </h5>
            <p class="card-text">{{ blog.body }} </p>
            <span>{{blog.postedDate.strftime('%d-%m-%Y')}}</span>
        </div>
    </div>
    {% endfor %}
</div>


<style>
    /* Blog Styles */
    .blog-card {
        position: relative;
        margin-top: 30px;
    }

    @media (max-width: 767px) {
        .blog-card {
            margin-top: 20px;
        }
    }

    .blog-card h2 {
        font-size: 30px;
        text-align: left;
        color: #333333;
        margin-bottom: 50px;
    }

    .blog-card .card {
        background: #fff;
        box-shadow: 0 8px 30px -7px #c9dff0;
        margin: 0 20px;
        padding: 0 10px;
        border-radius: 20px;
        border: 0;
    }

    .blog-card .card .card-img-top {
        max-width: 100px;
        border-radius: 50%;
        margin: 15px auto 0;
        box-shadow: 0 8px 20px -4px #95abbb;
        width: 100px;
        height: 100px;
    }

    .blog-card .card h5 {
        color: #01b0f8;
        font-size: 21px;
        line-height: 1.3;
    }

    .blog-card .card h5 span {
        font-size: 18px;
        color: #666666;
    }

    .blog-card .card p {
        font-size: 18px;
        color: #555;
        padding-bottom: 15px;
    }

    .blog-card .active {
        opacity: 0.5;
        transition: all 0.3s;
    }

    .blog-card .center {
        opacity: 1;
    }

    .blog-card .center h5 {
        font-size: 24px;
    }

    .blog-card .center h5 span {
        font-size: 20px;
    }

    .blog-card .center .card-img-top {
        max-width: 100%;
        height: 120px;
        width: 120px;
    }
</style>
{% endmacro %}