@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #e6e6ff;
}

/* navigation bar */
#scanfcode {
    border-radius: 0px;
    background: #fff;
    padding: 10px;
    font-size: 17px;
}

/* logo or main heading */
#logo {
    font-size: 20px;
    font-weight: bolder;
    color: #00004d;
    letter-spacing: 2px;
}

/* navigation links*/
#link a {
    color: #01325d;
    margin: 0 20px 0 10px;
    letter-spacing: 1.5px;
}